{% extends "home.html" %}
{% block content %}

<style>
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;

</style>
<div class="topright">{{ table_no }}</div>
</div>


<h1 align="center"> <img src="https://raw.githubusercontent.com/FahimPranjol/Snorlax-Burger-Shop/master/big_snorlax_burger_by_cathto.jpg"
                 alt="Snorlax Burger" width="128" height="100">
</h1>

<h1 align="center"> Welcome to Snorlax Burger Shop</h1>

<center>


<div class="container page-form">

    <form id="login-form" name="login-form" action="/login" method="post">
        <div class="form-group">
            <label for="email">Email : </label>
            <input type="text" id="email" size="45" class="form-control" name="email"> <span class="error"><p id="emailError"></p></span>
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password : </label>
            <input type="password" id="password" size="45" class="form-control" name="password"> <span class="error"><p id="passError"></p></span>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Log in</button>
        </form>
        <br>
        <form action="/register" method="post">
         <button type="submit" class="btn btn-success">Register</button>
        </form>
        <br>
    <form action="/login/guest">

        <button type="submit" class="btn btn-success">Continue as guest</button>
    </form>
</div>

<script>
document.getElementById("login-form").onsubmit = function()
{
	var printEmail = document.forms["login-form"]["email"].value;
	var printPass = document.forms["login-form"]["password"].value;

	var click = true;

	if(printEmail == null || printEmail == "")
	{
		var str = "Invalid Email";
		var printEmailError = str.fontcolor("red");
		document.getElementById("emailError").innerHTML = printEmailError;
		click = false
	}

	if(printPass == null || printPass == "")
	{
	    var passStr = "Invalid Password";
		printPassError = passStr.fontcolor("red");
		document.getElementById("passError").innerHTML = printPassError;
		click = false
	}

	return click;
}
function remove()
{
	document.getElementById(this.id + "_error").innerHTML = "";
}
document.getElementById("email").onkeyup = remove;
document.getElementById("password").onkeyup = remove;
</script>

</center>
{% endblock %}
