{% extends "home.html" %}
{% block content %}

<center>
        <h1>
            <img src="https://raw.githubusercontent.com/FahimPranjol/Snorlax-Burger-Shop/master/big_snorlax_burger_by_cathto.jpg"
                 alt="Snorlax Burger" width="128" height="100">
        </h1>

    <h1><font size="30" color="#990000">Register</font>

           <br>
           <font color="ff794d"> </font>
           <font size="3"> Creat your account. It's free and only takes a minute. </font></h1>

<div class="container page-form">
    <form id="login-form" action="/auth/register" method="post">
        <div class="form-group">
            <label for="firstname">First Name </label>
            <input type="text" id="firstname" class="form-control" name="firtsname">
        </div>
        <br>

        <div class="form-group">
            <label for="lastname">Last Name </label>
            <input type="text" id="lastname" class="form-control" name="lastname">
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email </label>
            <input type="text" id="email" class="form-control" name="email">
        </div>
        <br>
        <div class="form-group">
            <label for="address">Address </label>
            <input type="text" id="address" class="form-control" name="address">
        </div>
        <br>
        <div class="form-group">
            <label for="num">Number  </label>
            <input type="number" id="num" class="form-control" name="number">
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password </label>
            <input type="password" id="password" class="form-control" name="password">
        </div>

        <br>

        <button type="submit" class="btn btn-success">Sign up</button>
    </form>
</div>
</center>
{% endblock %}
