{% extends "home.html" %}
{% block content %}

<center>

    <form action="/waitstaff/orders/table9">
    <button type="submit" name="table9" value="Table 9">Table 9</button>
    </form>

    <form action="/waitstaff/orders/table10">
    <button type="submit" name="table10" value="Table 10">Table 10</button>
    </form>
    
     <form action="/waitstaff/orders/table11">
    <button type="submit" name="table11" value="Table 11">Table 11</button>
    </form>

    <form action="/waitstaff/orders/table12">
    <button type="submit" name="table12" value="Table 12">Table 12</button>
    </form>

</center>


{% endblock %}