{% extends "home.html" %}
{% block content %}

<center>

    <form action="/waitstaff/orders/table13">
    <button type="submit" name="table13" value="Table 13">Table 13</button>
    </form>

    <form action="/waitstaff/orders/table14">
    <button type="submit" name="table14" value="Table 14">Table 14</button>
    </form>
    
     <form action="/waitstaff/orders/table15">
    <button type="submit" name="table15" value="Table 15">Table 15</button>
    </form>

    <form action="/waitstaff/orders/table16">
    <button type="submit" name="table16" value="Table 16">Table 16</button>
    </form>

</center>


{% endblock %}